{% extends "base.html" %}

{% block site_meta %}
{{ super() }}
<meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  base-uri 'self';
  connect-src 'self' https://www.google-analytics.com https://*.google-analytics.com https://analytics.google.com https://*.analytics.google.com;
  font-src 'self' data: https://fonts.gstatic.com;
  form-action 'self';
  frame-src https://www.youtube.com;
  img-src 'self' data: https:;
  object-src 'none';
  script-src 'self' https://www.googletagmanager.com https://unpkg.com
    'sha256-apoQPHefCNWjxbCm+HzVDOAW4CSVWhY7VylQjgOFyfk='
    'sha256-e5RQGHxjAydZO6e7nr5hRgrNFeqlOtgF/Pz1mqXUw7Y='
    'sha256-exqRXrW/0laiImCrTE8a70vxyyY10FJVIppytLf/dbY='
    'sha256-/K9p2JtEqCycL2fSbEonMakkteWpAHv57x2wndLqMNo='
    'sha256-/8wPdzX9q0NNJXyA5lzsLojXFpkeaXVxhbfkUOQaWy8='
    'sha256-DrEMJJ29sL7vIloQzly+VUGMxKcBTMII+OfW7Y8AkG4='
    'sha256-IpdNNvFSYNvqPDLWBa7CGTGUQvL/HHVdRg+lV/6yC/I='
    'sha256-y4PACAGMebpXXh9NlOaYhB4Zt/je8v7pBFsMrW9lCgk=';
  style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://unpkg.com;
  worker-src 'self' blob:;
  upgrade-insecure-requests
">
{% endblock %}

{% block extrahead %}
{% set title = config.site_name %}
{% if page and page.meta and page.meta.title %}
{% set title = title ~ " - " ~ page.meta.title %}
{% elif page and page.title and not page.is_homepage %}
{% set title = title ~ " - " ~ page.title | striptags %}
{% endif %}
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ config.site_description }}" />
<meta property="og:url" content="{{ page.canonical_url }}" />
<meta property="og:image" content="https://static-assets.scarf.sh/Scarf_Documentation.png" />
<meta property="og:image:type" content="image/png" />
{% endblock %}

{% block libs %}
    {{ super() }}
    <script src="{{ base_url }}/scripts/setup-links.js"></script>
{% endblock %}
