site_name: Scarf Documentation
theme:
  name: material
  logo: assets/scarf.svg
  custom_dir: overrides
site_description: |
  Scarf's Technical Documentation & API Reference
extra_css:
  - 'stylesheets/extra.css'
nav:
- Introduction: 'index.md'
- Scarf Gateway: 'gateway.md'
- SDKs for Package Authors: 'package-analytics.md'
- Documentation Insights: 'web-traffic.md'
- Organizations: 'organization.md'
- API: 'api.md'
copyright: Copyright &copy; 2019 - 2021 Scarf Systems, Inc.
google_analytics:
  - auto
  - G-GH3EXW7112
repo_url: https://github.com/scarf-sh/docs
markdown_extensions:
  - meta
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/scarf-sh
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/scarf_oss
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/scarf-sh
    - icon: fontawesome/brands/slack
      link: https://tinyurl.com/scarf-community-slack
