# Project Information
site_name: Scarf Documentation
site_description: |
  Scarf's Technical Documentation & API Reference
copyright: Copyright &copy; 2019 - 2026 Scarf Systems, Inc. <img referrerpolicy="no-referrer-when-downgrade" src="https://static.scarf.sh/a.png?x-pxid=c9065f3a-a090-4243-8f69-145d5de7bfca" />

# Repository
repo_name: scarf-sh/docs
repo_url: https://github.com/scarf-sh/docs

# Config
theme:
  name: material
  logo: assets/scarf-tm-logo-white.svg
  custom_dir: overrides
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/icon.svg
  icon:
    logo: assets/new_scarf.svg
  features:
    - content.tooltips

# Styles
extra_css:
  - "stylesheets/extra.css"

# Docs Navigation
nav:
- index.md
- getting-started-checklist.md
- quick-start.md
- gateway.md
- glossary.md
- Organizations:
  - Setting up your organization: organizations.md
  - mtc.md
  - Scarf for Foundation-Backed Projects: foundation-backed-projects.md
- packages.md
- package-analytics.md
- custom-telemetry.md
- web-traffic.md
- oql.md
- funnel-stages.md
- sales-prospecting.md
- event-import.md
- data-export.md
- CRM Integrations:
  - crm-overview.md
  - salesforce.md
  - hubspot.md
- user_best_practices.md
- troubleshooting.md
- understanding-your-insights.md
- API Docs: https://api-docs.scarf.sh/v2.html
- changelog.md

# Analytics
google_analytics:
  - auto
  - G-GH3EXW7112

# Extensions
markdown_extensions:
  meta: {}
  admonition: {}
  abbr: {}
  attr_list: {}
  pymdownx.snippets:
    auto_append:
      - includes/abbreviations.md
  pymdownx.superfences: {}
  tables: {}
  sane_lists: {}

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/scarf-sh
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/scarf_oss
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/scarf-sh
    - icon: fontawesome/brands/slack
      link: https://tinyurl.com/scarf-community-slack
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCiJRrlBKBOgYFRO9eb6pfdg

# Plugins
plugins:
  - render_swagger
  - search
