site_name: Scarf Documentation
theme:
  name: material
  logo: assets/scarf.svg
extra_css:
  - 'stylesheets/extra.css'
nav:
- Introduction: 'index.md'
- The Scarf Gateway: 'gateway.md'
- SDKs for Package Authors: 'package-analytics.md'
- Documentation Insights: 'web-traffic.md'
