:root {
    --md-primary-fg-color:        #0572F1;
    --md-primary-fg-color--light: #7bcbe8;
    --md-primary-fg-color--dark:  #7bcbe8;
}

header img {
    color: white;
}

.md-ellipsis {
    display: none;
}