:root {
    --md-primary-fg-color:        #0572F1;
    --md-primary-fg-color--light: #7bcbe8;
    --md-primary-fg-color--dark:  #7bcbe8;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    color: white;
    height: 1.2rem;
    width: auto;
}

.md-ellipsis {
    display: none;
}
