name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2
        
      - name: Markdown linter
        uses: avto-dev/markdown-lint@v1
        with:
          args: '*'

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        # Or use mhausenblas/mkdocs-deploy-gh-pages@nomaterial to build without the mkdocs-material theme
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_DOMAIN: docs.scarf.sh
          EXTRA_PACKAGES: build-base
        if: github.ref == 'refs/heads/master'

